<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Report Search Results</title>
    <style>
      body {
        background-color: darkslategrey;
        color: white;
      }
      a {
        color: lightskyblue;
      }
    </style>
  </head>
  <body>
    <h1>Search Results for "{{ query }}"</h1>
    {% if results %}
      <ul>
        {% for result in results %}
          <li>
            <h3><a href="{{ result.link }}">{{ result.title }}</a></h3>
            <p>{{ result.description }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No results found.</p>
    {% endif %}
  </body>
</html>
